h1{
  color: #8A8D8F;
   text-align: center;
   padding: 20px;
   font-family: 'Source Sans Pro', sans-serif;
   background-color:#a6fcdc;
   border-radius:5px;
   font-size:2.5rem;
   margin:0.15rem;
 } 

h2{
  color:#a6fcdc;
  margin:10px;
  font-size:1.5
}

.body{
background-color:#8A8D8F;
border-radius:5px;
height:250px;
}

footer{
text-align: center;
padding: 10px;
font-family:'Galindo', Helvetica, bold;
background-color:#a6fcdc;


}

img{
 width:200px;

}

.li{
color:#8A8D8F; 
list-style-type: none;

}

