
table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:300px;
    height:auto;
    padding:20px;
    margin:20px;
    
   
  }
  th, td {
    padding: 15px;
    text-align: center;
    font-family:"ubuntu", sans-serif;
    
  }
  .title{
  text-align:center;
  background-color:#333e49 ;
  
  }
  
  .tabg{
    width: 100%;    
    background-color:#4d5154;
  }
  
  .tabn {
    width: 100%;    
    background-color:#212529;
  }
  
  .tab{
    
    width: 100%;    
    background-color:#212529;
  }
  
  .tabt{
    color:white;
    width: 100%;    
    background-color:#233143;
  }