h1{
  color: #8A8D8F;
   text-align: center;
   padding: 20px;
   font-family:'Galindo', Helvetica, serif;
   background-color:#a6fcdc;
   border-radius:5px;
 } 

h2{
  color:#a6fcdc;
  margin:10px;
}

.body{
background-color:#8A8D8F;
border-radius:5px;
height:300px;
}

footer{
text-align: center;
padding: 10px;
font-family:'Galindo', Helvetica, bold;
background-color:#a6fcdc;
border-radius:5px;

}

img{
 width:250px;
float:right;
box-shadow: 3px 3px 5px black;
}

.li{
color:#8A8D8F; 
list-style-type: none;

}

