@media only screen and (min-width:30.0em){
  

 
    .gallery-images {
        grid-template-columns: 1fr 1fr;
    }
  
    .herodiv {
      margin: 20px auto;
      position: relative;
      height: auto;
      margin:20px;
      width: auto;
      display: flex;
    }
  .pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}
.ans{
  text-align: right;
}
.lans{
  text-align:left
}
p{
  font-size: .75rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: left;
  margin: 10px;
  line-height: 1.6rem;  
}
}