
.grid { 
	display: flex;
	grid-template-columns: 1fr;
	font-size: 0.8rem;

  }
  article{
    border: 1px solid;
    box-shadow:2px 2px 5px 0px;
    margin-left:auto;
    margin-right:auto;
  
  }

h1{
  color: #8A8D8F;
   text-align: center;
   padding: 20px;
   font-family:'Galindo', Helvetica, serif;
   background-color:#a6fcdc;
   border-radius:5px;
 } 

h2{
  color:#a6fcdc;
  margin:10px;
}

.body{
background-color:#8A8D8F;
border-radius:5px;
height:250px;
max-width: 800px;
margin:auto;
}

footer{
text-align: center;
padding: 10px;
font-family:'Galindo', Helvetica, bold;
background-color:#a6fcdc;
border-radius:5px;

}

img{
 width:200px;
float:right;
box-shadow: 3px 3px 5px black;
position: relative;
bottom:150px;
margin:15px;
}

.li{
color:#8A8D8F; 
list-style-type: none;

}

main a {
  color: #061f8c;
  line-height: 2;
}

main a:hover {
  color: rgb(40, 40, 49);
}
