/*NAV BAR*/
/*font-family: 'Lato', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
.logo {
  position: relative;
  top: 20px;
  left: 20px;
  width: 150px;
}



/*Nav bar*/
nav {
  margin: 0 auto;
  max-width: auto;
  border-radius: 100px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.45);
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
  padding: 6px;
  margin: auto;
}

.navigation a {
  display: block;
  color: white;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  background-color: rgb(0, 106, 255);
  padding: auto;
  border-radius: 150px;
  margin: 0;
}

.active {
  background-color: rgb(0, 106, 255);
  border-radius: 150px;
}

/* responsive*/

.responsive li {
  display: block;
}

.navigation1 {
  list-style: none;
  text-align: center;
  padding: 0;
}

/*END OF NAV*/

/*Content*/
/*Size of sections*/

.content {
  margin: 0 auto;
  max-width: 1500px;
  border-radius: 100px;
  font-size: 20px;
}

/*Sections the content*/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
}

.gallery-images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.picture-container {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-size: 16px;
  background: rgb(0, 48, 163);
  background: linear-gradient(180deg, rgba(0, 48, 163, 1) 0%, rgba(0, 106, 255, 1) 53%, rgba(0, 0, 0, 100) 100%);
  font-family: 'Lato', sans-serif;

}


article {
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin: 20px;
  padding: 40px;
  width: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  display: none;
}

article img {
  border-radius: 40px;
  max-width: 100%;
  display: block;
  width: 700px;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

article,
h3,
h4,
h5 {
  max-width: 1500px;
  display: block;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: left;
}

h3 {
  font-size: 1.45rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h4 {
  font-size: 1.35rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin: 10px;
  line-height: 1.6rem;
}

/*Section 1*/

/*Transparent box over image*/

.hero-ph {
  margin: 10px;
  border-radius: 50px;
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
}

.herodiv {
  margin: 20px auto;
  position: relative;
  height: 350px;
  margin: 20px;
  width: auto;
  display: flex;
}

.weathersum {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 50px;
  border: 1.5px solid white;
  padding: 1rem;
  box-shadow: 0 0 5px white;
  text-align: left;
  width: auto;
  height: auto;
  display: center;
  margin: block;
}

.ans{
  text-align: right;
}
.lans{
  text-align:left
}

p {
  font-size: .5rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: left;
  margin: 10px;
  line-height: 1.6rem;
}

.icon img {
  width: auto;
  height: auto;
  display: none;
}




.hide {
  display: none;
}

.pic {
  height: auto;
  width: 100%;
  padding: auto;
  margin: auto;
  display: block;
}

.img {
  width: 100%;
  padding: auto;
  margin: auto;
  display: block;
}

/*Section 2*/


.google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 25%;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 50px;
}



.li {
  text-decoration: none;
  text-align: left;
  position: center;
  padding: 30px;
}

/*Footer*/

footer {
  margin: 3rem auto;
  padding: 1rem;
  max-width: 1500px;
  border-radius: 100px 100px;
  text-align: center;
}

.footer {
  text-align: center;

  font-family: "Lexend Deca", sans-serif;
}

footer {
  text-align: center;
  background-color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  background: rgba(255, 255, 255, 0.45);
}

.add{
  display: block;
  color: white;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

/*Storm*/

.info label input {
  padding: 10px;
  margin: 5px;
  width: 75%;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  border-radius: 50px;
}

option {
  display: block;
  text-align: center;
  font-size: 20px;
}

select,
label {
  padding: 10px;
  margin: 5px;
  width: 75%;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  border-radius: 50px;
}

textarea {

  position: center;
  width: 125%;
  height: auto;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  border-radius: 10px;
}

input {
  border-radius: 50px;
  color: blue
}


/*HOME PAGE DATA*/
.pics1 {

  padding: 20px;
  text-align: center;
  width: 100%;
}

.pics {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.pics section {
  width: 100%;
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.45);

  border-radius: 25px;
  font-family: "Roboto", sans-serif;
}

.pics h2,
.pics p,
.pics img {
  padding: 0;
  margin: 0;
  text-align: center;
}

.pics h2 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: white;
}

.pics p {
  margin-bottom: 2px;
  color: white;
}

.pics img {
  width: 180px;
  height: 220px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px #121619;
}

.pics .motto {
  font-style: italic;
  font-weight: bold;
}