/*---Small---*/

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(248, 248, 248);
}

section {
    border: 8px solid rgb(41, 38, 40);
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
}

p{
    color: rgb(248, 248, 248); 
}
img {
    width: 80%;
    height: auto;
}




