/*NAV BAR*/
/*font-family: 'Lato', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
.logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
  }
  
  .grid {
    display: flex;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
  }
  
  nav {
    margin: 0 auto;
    max-width: auto;
    border-radius: 100px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .navigation {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .navigation li {
    display: none;
    padding: 6px;
    margin: auto;
  }
  
  .navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: white;
    background-color: rgb(0, 106, 255);
    padding: auto;
    border-radius: 150px;
    margin: 0;
  }
  
  /* responsive*/
  
  .responsive li {
    display: block;
  }
  
  /*END OF NAV*/
  
  /*main {
    color: white;
    margin: 20px;
    padding: 20px;
    width: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    text-align: center;
  }*/
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
  
  .navigation1 {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
  /*Size of sections*/
  .content {
    margin: 0 auto;
    max-width: 1500px;
    border-radius: 100px;
    font-size: 20px;
  }
  
  article,
  h3,
  h4,
  h5 {
    max-width: 1500px;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
  }
  
  body {
    font-size: 16px;
    background: rgb(0, 48, 163);
    background: linear-gradient(
      180deg,
      rgba(0, 48, 163, 1) 0%,
      rgba(0, 106, 255, 1) 53%,
      rgba(106, 255, 255, 1) 100%
    );
    font-family: "Lato", sans-serif;
  }
  
  /* Content*/
  /*Transparent box over image*/
  .hero-ph {
    margine: 10px;
    border-radius: 50px;
    height: auto;
    width:100%;
    padding:10px;
    display: flex;
  }
  
  .herodiv {
    margine: 20px auto;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
  }
  
  .weathersum {
    position: absolute;
  
  
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    border:1.5px solid white;
    padding:1rem;
    box-shadow: 0 0 5px white;
    text-align: left;
    width:auto;
    height:auto;
    display:center;
  
  }
  
  
  
  .icon img {
  width:auto;
  height:auto;
  display:none;
  }
  
  .hide{
    display:none;
    
  }
  
  
  
  article {
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin: 20px;
    padding: 40px;
    width: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    display:none;
  }
  
  
  .img{
    
    width:100%;
    padding:auto;
    margin:auto;
    display:block;
    
  }
  
  
  .li {
    text-decoration: none;
    text-align: left;
     position:center;
    padding:30px;
  }
  
  
  gmap_canvas{
  
    height:500px;
    width:100%;
      
    
  }
  
  article img {
    border-radius: 40px;
    max-width: 100%;
    display: block;
    width: 700px;
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  article,
  h3,
  h4,
  h5 {
    max-width: 1500px;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
  }
  footer {
    margin: 3rem auto;
    padding: 1rem;
    max-width: 1500px;
    border-radius: 100px 100px;
  }
  
  footer {
    text-align: center;
    background-color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    background: rgba(255, 255, 255, 0.45);
  }
  
  h1 {
    font-size: 1.8rem;
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: left;
    
    
  }
  
  h3 {
    font-size: 1.45rem;
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
  }
  
  h4 {
    font-size: 1.35rem;
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
  }
  
  h5 {
    font-size: 1.5rem;
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin: 10px;
    line-height: 1.6rem;
  }
  