@media only screen and (min-width:32.5em){
  
  header, footer{
 border-radius:30px;
}
 
 h2{
 font-size:2.5em;
}
 h1{
 
 font-size:3em;
} 

.body{
  background-color:#8A8D8F;
  border-radius:5px;
  height:250px;
  max-width: 800px;
  margin:auto;
  }

img{
       
 float:right;
 box-shadow: 3px 3px 5px black;
 }

 
}