@charset "utf-8";



body {
  margin: 0;
  font-family:'Galindo', Helvetica, serif;
   font-size:16px;
    max-width: 800px;
  margin:auto;
}


main {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}




h2{
  color:#8A8D8F;
  font-size:1.5rem;
}




nav{
margin:0 auto;
padding:0.75rem;
max-width: 45rem;
color:#8A8D8F; 
list-style-type: none;
font-size:1.1rem;
}

img{
height:auto;
width:200px;
float:right;
box-shadow: 3px 3px 5px black;

}



header, footer{
  margin:0 auto;
  padding:0.75rem;
  max-width: 45rem;
  background-color:#a6fcdc;
  border-radius:10px;
  font-family:'Galindo', Helvetica, bold;
  text-align: center;
  color: #8A8D8F; 
}