body{
    background-color:blue;
    color:white;
  }
  
  
  .leftcol, .rightcol {
  max-width:48%;
  flex: 1 0 15em;
    padding: 10px;
  }
  
  
   .sec1, .sec2, footer {
    display:flex;
    flex-flow: row wrap;  
    justify-content: center;
    align-items: center;
    padding: 10px;
  }