/*NAV BAR*/
/*font-family: 'Lato', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
.logo {
  position: relative;
  top: 20px;
  left: 20px;
  width: 150px;
}

button {
  background-color: orange;
  padding: 10px 20px;
  margin: 30px;
  border: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  font-family: 'Lexend Deca', sans-serif;
  color: Black;
  font-size: 1.3rem;
  float:right;
}

.banner {
width: 100%;
  height: 400px;
}
/*Nav bar***************************************************/
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
 
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.dropdown {
  
  overflow: hidden;
}

.dropdown .dropbtn {
    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: 0;
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.45);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav {
  
  max-width: auto;
 
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.45);
}

.navigation {
  list-style: none;
  text-align: center;
  
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
  padding: 6px;
  margin: auto;
}

.navigation a {
  display: block;
  color: white;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
  background-color:black;
  padding: 10px;


}


/* responsive*/

.responsive li {
  display: block;
}

.navigation1 {
  list-style: none;
  text-align: center;
  padding: 0;
}

/*END OF NAV*/

/*Content*/
/*Size of sections*/

.content {
  margin: 0 auto;
  max-width: 1500px;
  
  font-size: 20px;
}
/*Sections the content*/
.grid {
  display: grid;
  grid-template-columns: 1fr ;
  font-size: 1rem;
  
}

.gallery-images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.picture-container {
  position: relative;
  width: 100%;
  height: auto;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-size: 16px;
  
  background: black;
  
  font-family: "Lato", sans-serif;
}

article {
  margin-left: auto;
  margin-right: auto;
  color:#aaaaaa;
  margin: 10px;
  padding: 10px;
  width: auto;
  background: rgba(255, 255, 255, 0.4);

  display: none;
}




.style{
  text-align: left;
  
}

/*Api image adjustment*/
  article img{
      
    
    max-width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  

article,
h3,
h4,
h5 {
  max-width: auto;
  display: block;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding: 30px
}

h2 {
  font-size: 1.5rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.45rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h4 {
  font-size: 1.35rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: left;
  padding: 20px;
  margin:20px;
}

h5 {
  font-size: 1.5rem;
  color: white;
  font-family: "Questrial", sans-serif;
  text-align: left;
  margin: 10px;
  line-height: 1.6rem;
}

/*Section 1*/

/*Transparent box over image*/

.hero-ph {
  margin: 10px;
  border-radius: 50px;
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
}

.herodiv {
  margin: 20px auto;
  position: relative;
  height: auto;
  width: auto;
  display: flex;
}

.weathersum {
  position: absolute;
  background-color: #2125295b;
  border-radius: 50px;
  border: 1.5px solid white;
  padding: 1rem;
  box-shadow: 0 0 5px white;
  text-align: left;
  width: auto;
  height: auto;
  display: center;
  margin: -6% 0 -6%;
}

.icon img {
  width: auto;
  height: auto;
  display: none;
}




.hide {
  display: none;
  
}

.pic {
  height: auto;
  width: 50%;
  padding: 10px;
  margin:auto;
  display: block;
  float:right;
  
}

.img {
  width: 100%;
  padding:auto;
  margin: auto;
  display: block;
  
}

/*Section 2*/

gmap_canvas {
  height: 500px;
  width: 100%;
  
}

.li {
  text-decoration: none;
  text-align: left;
  position: center;
  padding: 30px;
}

/*Footer*/

footer {
  margin: 3rem auto;
  padding: 1rem;
  max-width: 1500px;
  border-radius: 1px 1px 100px 100px ;
}

footer {
  text-align: center;
  background-color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  background: rgba(255, 255, 255, 0.45);
}

/*Storm*/

.info label
input {
  padding: 10px;
  margin: 5px;
  width: 75%;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  
}

option {
  display: block;
  text-align: center;
  font-size: 20px;
}

select,
label {
  padding: 10px;
  margin: 5px;
  width: 75%;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  
}

textarea{
 
 position: center;
  width: 125%;
  height:auto;
  display: block;
  text-align: left;
  font-size: 20px;
  position: relative;
  border-radius: 10px;
}

input{

  color:blue
  
  
}


/*HOME PAGE DATA*/
.pics1 {
max-width: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  
  
}
.pics {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
   text-align: center
}

.pics section {
  width: auto;
  height: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.45);
  
 
  font-family: "Roboto", sans-serif;
}

.pics h2,
.pics p,
.pics img {
  padding: 0;
  margin: 0;
  text-align: center;
}

.pics h2 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: white;
}

.pics p {
  margin-bottom: 2px;
  color:white;
}
/*Api info box*/
.pics img {
  width: auto;
  height: 230px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px #121619;
  
 
}



.pics .motto {
  font-style: italic;
  font-weight: bold;
}
